.video{
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
}

.img{
    width: 100vw;
    /* background: linear-gradient(0deg, rgba(136, 47, 190, 0.2), rgba(136, 47, 190, 0.2)), url(1080p.png); */
    opacity: 0.25;
}
.text{
    width: 1094px;
    height: 420px;  
    position:absolute;
    color: white;
    font-family: 'Grandstander';
    font-style: normal;
    font-weight: 600;
    font-size: 140px;
    line-height: 100%;
    /* or 140px */

    text-align: center;
    text-transform: uppercase;

}