.video{
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
}

.imgDiv{
    width: 100vw;

    /* opacity: 25%; */
    /* background: linear-gradient(0deg, rgba(136, 47, 190, 0.2), rgba(136, 47, 190, 0.2)) ; */
}
.imgDiv img{
    width: inherit;
    background: blue;
}
.text{
    width: 1094px;
    height: 420px;  
    position:absolute;
    color: white;
    font-family: 'Grandstander';
    font-style: normal;
    font-weight: 600;
    font-size: 140px;
    line-height: 100%;
    opacity: 1;
    /* or 140px */

    text-align: center;
    text-transform: uppercase;

}