.video{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-position: center;
    background-size: cover;
    color: white;
}
.text{
    /* position: absolute; */
    border:;
    width: 1094px;
    height: 420px;
    left: 413px;
    top: 330px;
}