.video{
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
}

.imgDiv{
    width: 100vw;
    position: relative;
}
.opacity{
    width: 100vw;
    height: inherit;
    position:absolute;
    top: 0;
    left: 0;
    opacity: 0.25;
    background: linear-gradient(0deg, rgba(136, 47, 190, 0.2), rgba(136, 47, 190, 0.2)) ;
}
.imgDiv img{
    width: 100vw;
}
.text{
    width: 1094px;
    height: 420px;  
    position:absolute;
    color: white;
    font-family: 'Grandstander';
    font-style: normal;
    font-weight: 600;
    font-size: 140px;
    line-height: 100%;
    opacity: 1;
    /* or 140px */

    text-align: center;
    text-transform: uppercase;

}